## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
.idea/*

.yardoc/
doc/

ext/WindowsForms/src/WindowsForms/WindowsForms/bin/Debug/*
ext/WindowsForms/src/WindowsForms/WindowsForms/bin/Release/*.pdb
ext/WindowsForms/src/WindowsForms/WindowsForms/obj/*

ext/IAccessibleDLL/IAccessibleDLL/Release/*
ext/IAccessibleDLL/ipch/*
ext/IAccessibleDLL/Release/*.pdb

ext/ListViewExplorer/ListViewExplorer/Debug/*
ext/ListViewExplorer/ListViewExplorer/Release/*
ext/ListViewExplorer/ipch/*
ext/ListViewExplorer/*.sdf
